body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-div {
    flex: 1;
    text-align: center;
    background-color: lightblue;
    margin: 10px;
}

.center-div {
    flex: 2;
    text-align: center;
    background-color: lightgreen;
    margin: 10px;
}
